@using JohannesWebApplication.Controllers
@model JohannesWebApplication.Models.PrinterModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PrinterModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SizeX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SizeX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SizeY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SizeY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SizeZ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SizeZ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PrinterID">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    @if ((string?) ViewData["PrinterAdded"] != "True")
    {
        <form asp-controller="PrinterModels" asp-route-id="@Model?.PrinterID" asp-action="AddPrinter" method="post">
            <button type="submit" value="Add Printer"></button>
        </form>
    }
</div>
